@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #632ee3;
  --color-secondary: #;
}

.btn-primary {
  @apply bg-linear-to-r from-[#632EE3] to-[#9F62F2] border-none text-white
}

.btn-primary:hover {
  @apply opacity-90;
}